<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Editer le commentaire", edit_comment_path(@comment) %> |
  <%= link_to "Voir tous les commentaires", comments_path %>

  <%= button_to "Supprimer ce commentaire", @comment, method: :delete %>
</div>
